bucket = "<state-bucket>"
key    = "resident-notifications/dev/terraform.tfstate"
region = "ru-central1"
endpoint = "https://storage.yandexcloud.net"
skip_region_validation      = true
skip_credentials_validation = true
skip_metadata_api_check     = true
